
streamlit>=1.27.0
pandas>=2.0.0
numpy>=1.24.0
yfinance>=0.2.30
plotly>=5.15.0
matplotlib>=3.7.0
fpdf2>=2.7.6
google-generativeai>=0.3.0
google-api-core>=2.11.0
requests>=2.31.0
shutilwhich>=1.1.0
ta
lightgbm
xgboost
tensorflow
keras-tuner
scikit-learn
xgboost
lightgbm
catboost
optuna